---
title: {{#lambda.uncamelize}}{{baseName}}{{/lambda.uncamelize}} Route
---

# {{#lambda.uncamelize}}{{baseName}}{{/lambda.uncamelize}} Route

{{description}}
{{summary}}

| Name | Method | Endpoint |
|------------- | ------------- | -------------|
{{#operations}}{{#operation}}
| [**{{summary}}**](#{{operationId}}) | {{httpMethod}} | `{{path}}` |
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}
<a name="{{operationId}}"></a>

## **{{summary}}**

> {{httpMethod}} {{path}}{{#hasQueryParams}}?{{#queryParams}}{{paramName}}={{example}}{{^-last}},{{/-last}}{{/queryParams}}{{/hasQueryParams}}

{{#notes}}
{{.}}
{{/notes}}

### Request Parameters
{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#allParams}}{{#-last}}

| Name | Type | Required | Description | Notes | Example |
| ---- | ---- | -------- | ----------- | --- |---|{{/-last}}{{/allParams}}
{{#allParams}}
{{^isBodyParam}}
| **{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}{{#generateModelDocs}}[**{{dataType}}**](../{{modelPackage}}/{{baseType}}){{/generateModelDocs}}{{^generateModelDocs}}**{{dataType}}**{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}} | {{#required}}true{{/required}}{{^required}}false{{/required}} | {{description}} | {{#defaultValue}}Defaults to {{.}}.{{/defaultValue}}{{#allowableValues}} Enum: [{{#values}}{{{.}}}{{^-last}}, {{/-last}}{{/values}}]{{/allowableValues}} | {{example}}
{{/isBodyParam}}
{{/allParams}}

### Request Body
{{#bodyParams}}
| Schema | Required | 
| ------ | --- | 
| {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}{{#generateModelDocs}}[**{{dataType}}**](../{{modelPackage}}/{{baseType}}){{/generateModelDocs}}{{^generateModelDocs}}**{{dataType}}**{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}} | {{#required}}true{{/required}}{{^required}}false{{/required}} |
{{/bodyParams}}
{{^bodyParams}}This endpoint does not require a request body.{{/bodyParams}}

### Authorization

> Note: this section and the documentation around what is required is still actively being updated.

{{^authMethods}}No authorization required{{/authMethods}}{{#authMethods}}[{{name}}](./overview#{{name}}){{^-last}}, {{/-last}}{{/authMethods}}

### Request Headers

- **Content-Type**: {{#consumes}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
- **Accept**: {{#produces}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/produces}}{{^produces}}Not defined{{/produces}}

### Response

{{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#generateModelDocs}}[**{{returnType}}**](../{{modelPackage}}/{{returnBaseType}}.md){{/generateModelDocs}}{{^generateModelDocs}}**{{returnType}}**{{/generateModelDocs}}{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

{{/operation}}
{{/operations}}
